block variables
	- title = "Photographer Oh,Insook CV";
	- description = "Photographer Oh,Insook CV";

extends modules/baselayout

block content
	div#main.container.main-margin
		h4.oh-color= __('cv.education.title')
		table.table.table-hover
			thead
				tr
					th(colspan='2') Year
			tbody
				tr
					td 2008- now
					td= __('cv.education.1')

				tr
					td 2005
					td= __('cv.education.2')

				tr
					td 1992
					td= __('cv.education.3')

		br
		h4.oh-color= __('cv.solo.title')
		table.table.table-hover
			thead
				tr
					th(colspan='2') Year
			tbody
				tr
					td 2014
					td= __('cv.solo.1')

				tr
					td 2010
					td= __('cv.solo.2')
		br
		h4.oh-color= __('cv.group.title')
		table.table.table-hover
			thead
				tr
					th(colspan='2') Year
			tbody
				tr
					td 2015
					td= __('cv.group.1')

				tr
					td 2015
					td= __('cv.group.2')

				tr
					td 2015
					td= __('cv.group.3')

				tr
					td 2014
					td= __('cv.group.4')

				tr
					td 2009
					td= __('cv.group.5')

				tr
					td 2007
					td= __('cv.group.6')

				tr
					td 2006
					td= __('cv.group.7')
