block variables
	- title = "Photographer Oh,Insook Press";
	- description = "Photographer Oh,Insook Press";

extends modules/baselayout

block content
	div#goodThinkModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		div.modal-dialog
			div.modal-content(style={'background-color':'#333'})
				div.modal-body(style={'margin':'10px'})
					div.page-header
						h2= __('press.goodthink.title')
					p= __('press.goodthink.article1')
					p= __('press.goodthink.article2')
					p= __('press.goodthink.article3')
					p= __('press.goodthink.article4')
					div(style={'text-align':'right'})
						em= __('press.goodthink.press')

	div#main.container.main-margin
		table.table
			tbody
				tr
					td(style='vertical-align:middle;')
						a(href='#', data-toggle="modal", data-target="#goodThinkModal")
							img.hvr-grow.work_image(alt="#{__('press.goodthink.press')}", src='images/press/goodthink.jpg')
					td
						h4
							a(href='#', data-toggle="modal", data-target="#goodThinkModal")= __('press.goodthink.title')
							br
							br
							small(style='line-height: 1.42857;')= __('press.goodthink.article') 
								br
								br
								em= __('press.goodthink.press')
				tr
					td(style='vertical-align:middle;')
						a(href='http://www.yes24.com/24/goods/17698793', target='_blank')
							img.hvr-grow.work_image(alt="#{__('press.citygoat.press')}", src='images/press/citygoatbook.jpg')
					td
						h4
							a(href='http://www.yes24.com/24/goods/17698793', target='_blank')= __('press.citygoat.title')
							br
							br
							small(style='line-height: 1.42857;')= __('press.citygoat.article')
								br
								br
								em= __('press.citygoat.press')
				tr
					td(style='vertical-align:middle;')
						a(href='http://www.hani.co.kr/arti/ISSUE/124/636325.html', target='_blank')
							img.hvr-grow.work_image(alt="#{__('press.fire.press')}", src='images/press/fire.jpeg')
					td
						h4
							a(href='http://www.hani.co.kr/arti/ISSUE/124/636325.html', target='_blank')= __('press.fire.title')
							br
							br
							small(style='line-height: 1.42857;')= __('press.fire.article') 
								br
								br
								em= __('press.fire.press')
				tr
					td(style='vertical-align:middle;')
						a(href='http://www.hani.co.kr/arti/society/society_general/657086.html', target='_blank')
							img.hvr-grow.work_image(alt="#{__('press.darling.press')}", src='images/press/darling.jpeg')
					td
						h4
							a(href='http://www.hani.co.kr/arti/society/society_general/657086.html', target='_blank')= __('press.darling.title')
							br
							br
							small(style='line-height: 1.42857;')= __('press.darling.article') 
								br
								br
								em= __('press.darling.press') 
				tr
					td(style='vertical-align:middle;')
						a(href='http://www.hani.co.kr/arti/society/society_general/671953.html', target='_blank')
							img.hvr-grow.work_image(alt="#{__('press.sew.press')}", src='images/press/sew.jpeg')
					td
						h4
							a(href='http://www.hani.co.kr/arti/society/society_general/671953.html', target='_blank')= __('press.sew.title') 
							br
							br
							small(style='line-height: 1.42857;')= __('press.sew.article')
								br
								br
								em= __('press.sew.press')
