extends modules/baselayout

block content
	div#main.container.main-margin
		table.table
			tbody
				each work,i in ['women','imalsan','citygoat','edge_of_seoul','twins','common_people','yoeido','crack']
					tr
						td(style={'vertical-align': 'middle'})
							a(href='/works/#{work}')
								img.hvr-grow.work_image(alt="#{__('work.' + work + '.title')}", src='/images/gallery/#{work}/work.jpg')
						td
							a(href='/works/#{work}')
								h4= __('work.' + work + '.title')
							h6.gallery= __('work.' + work + '.gallery')
