block variables
	- title = "Photographer Oh,Insook Works";
	- description = "Photographer Oh,Insook Works";
	- var og_url = og_url || "http://oh.citygoat.net/works/citygoat";
	- var og_type = og_type || "article";
	- var og_title = og_title || "City Goat";
	- var og_description = og_description || "My husband - city goat, Gallery Rugaheon, Seoul, KR";
	- var og_image = og_image || "http://oh.citygoat.net/images/gallery/citygoat/1.jpg";

extends ../modules/baselayout

block content
	div#main.container
		div.work-detail
			div.work-detail-header
				h3.text-center
					| My husband - City goat
					a.pull-right(href='/work')
						span(aria-hidden='true') ×
			div#carousel-photo.carousel.slide(data-ride='carousel', data-interval='false')
				// Indicators
				ol.carousel-indicators
					each val,idx in [1,2,3,4,5,6,7,8,9,10,11,12]
						if val === 1
							li.active(data-target='#carousel-photo', data-slide-to='#{idx}')
						else
							li(data-target='#carousel-photo', data-slide-to='#{idx}')

				div.carousel-inner
					each val in [1,2,3,4,5,6,7,8,9,10,11]
						if val === 1
							div.item.active: img.img-responsive(src='/images/gallery/citygoat/#{val}.jpg', alt='#{val}')
						else            
							div.item: img.img-responsive(src='/images/gallery/citygoat/#{val}.jpg', alt='#{val}')

					div.item.essay
						p 이 이야기는 2005에서 2014년 사이에 있었던 나의 남편 이야기를 사진으로 풀어놓은 것이다. 하지만 동시에 사진이 우리 인생을 어떻게 바꾸었는가에 관한 이야기이다.
						p 평범한 맞벌이 부부였던 우리는 소소한 일상의 행복을 소중하게 여기던 사람이었다. 남편은 가정에 충실했고 이른바 대기업에 다니는 잘 나가는 회사원이었다. 그런데 어느 날인가 부터 그에게 이상이 생겼다. 혼자 먼 산을 보는 날이 많이 생겼고 건강에도 여기저기 이상이 생겼다.
						p 당시 나는 쌍둥이 두 딸을 주제로 첫 개인전을 갖기로 하고 아이들을 관찰하고 아이들과 교감하며 사진으로 소통하는 힘을 키워갔다. 아이들을 찍으며 당연히 아빠인 남편도 카메라에 함께 들어오기 시작했다. 비로소 그의 존재를 깊이 깨닫는 계기가 되었다. 본격적으로 사진 작업에 들어가자 내 ‘사진기’는 내 눈보다, 내 마음보다, 그를 좀 더 자유롭게 놔주기 시작했다.
						p 사진기 너머의 남편을 바라보면서 온갖 감정이 교차했다. 처음 1~2년은 세상살이를 힘들어하는 남편을 보면서 짜증이 나기도 하고, 화가 치밀기도 하고, 불안감에 휩싸이기도 했다. 실제로 많이 싸우기도 했다. 그러나 나와 그 사이에는 다행히도 사진기가 있어서 아내로서의 불안한 심정을 조금이나마 누그러뜨릴 수 있었다.
						p 그는 어릴 적 큰집에 가다가 풀밭에서 본 염소신세라고 자신을 한탄했다. 풀밭 가운데서 자기 목에 메인 목줄 반경만큼의 회색 동그라미 안에 있던 한 마리 염소. 동그라미 밖 초록 풀밭을 바라보던 그 염소가 참 불쌍했었는데, 커서보니 그 목줄 길이가 딱 자기가 회사를 오가는 반경이라고 한다.
						p 그러나, 무슨 일을 낼 것만 같았던 그는 시간이 흐를수록 오히려 점점 시들해져갔고, 나의 사진기에 담기는 그의 모습은 하루가 다르게 초췌해갔다. 그 사이 아이들은 초등학생에서 고등학생이 되어갔고 세 번의 이사를 했다. 사진을 찍는 나도 변해 갔다. 밀착된 관계를 딱 ‘사진 찍을 수 있을 만큼의 거리’를 내어 떨어져보니, 어느 순간 온전한 한 인간이 보이기 시작한 것이다. 그러자 거짓말처럼 사진 속에서 어느덧 그가 웃기 시작했고 우리의 관계는 급격히 좋아지기 시작했다. 역설적이게도 그의 위로와 격려에 힘입어, 잘 다니던 직장까지 그만두고 자신을 찾아나선 것은 그가 아닌 바로 나였다.
						p 또 몇 년이 흘렀을까? 끝이 없을 것 같던 그의 방황은 엉뚱한 곳에서 끝이 났다. 그가 원하든 원치 않던 세상은 돌아가고, 잘 나가던 회사는 사운이 기울어, 결국 회사에 구조조정의 칼바람이 불기 시작했다.
						p 오랫동안 마음의 준비해왔지만, 구조조정은 생각보다 충격이 컸다. 그는 웃고 있었지만 초라해 보였고, 나는 불안한 마음을 감추고 그를 위로하지 않을 수 없었다. 구조조정 뒤 그가 제일 먼저 한 일은 시골로 내려가 빈집을 고치다가, 학교 다니던 아이들을 데리고 여행을 떠난 일이다. 여행 뒤의 일은 아무 것도 기약하지 않기로 하고, 돈을 아끼기 위해 인천항에서 배를 타고 무작정 중국 청도로 향했다.
						p 우리는 우리의 미래가 어디로 향하고 있는지 모른다. 여행은 끝났고 더 이상 떠밀려 살고 싶지 않다는 생각이 확고해져 우리는 돌아왔다. 원하는 대로, 생각한 대로, 제대로 살아보고 싶다는 생각이 든다. 우리는 우리의 삶을 더이상 나중으로, 내일로, 미래로 유보하지 않을 것이다.
						p 여행 후 얼마 지나지 않아 매일 쓰던 노트북이 때마침 갑자기 작동을 멈추었다. 하도 허망하게 가서, 노트북 분해 후 남은 마더보드를 방에 걸어 놓고 가슴으로 찍으리라 다짐하고 다음과 같은 글을 썼다. “사람이 떠날 때도 이러하리라. 떠나면 그 뿐 아무 말도 없는 그대일지니 떠나기 전 살뜰히 사랑해야지.”
						p 콩이 콩임을 부정해야 비로소 새롭게 싹을 틔울 수 있다는 남편. 여행하는 내내 나에게 헨리 데이비드 쏘로우의 월든을 읽어 주었고, 우리는 오늘도 쏘로우의 경고를 되새긴다. ‘오, 맙소사. 죽음에 임박해서야 한 번도 제대로 살아 본 적이 없었다는 사실을 깨닫다니!’
						p 이 사진작업을 하면서 깨달은 것은 목적보다 과정이라는 것, 사진보다 관계라는 것이다. 날마다 새롭게 태어나기 위해 이 경고를 이 마더보드의 사진에 부쳐 십년간의 사진 작업을 마감한다.
				span.left.carousel-control(data-target='#carousel-photo', data-slide='prev')
					span.glyphicon.glyphicon-chevron-left
				span.right.carousel-control(data-target='#carousel-photo', data-slide='next')
					span.glyphicon.glyphicon-chevron-right
		div.fb-like(data-share='true', data-width='450', data-show-faces='true')
