extends ../modules/baselayout

block content
    div#main.container.main-margin
        div.work-detail
            div.work-detail-header
                h3.text-center
                    | Photographic Interpretation about the crack of Korean Society
                    a.pull-right(href='/work')
                        span(aria-hidden='true') ×
            div#carousel-photo.carousel.slide(data-ride='carousel', data-interval='false')
                // Indicators
                ol.carousel-indicators
                    each val in [1,2,3,4,5,6,7,8]
                        if val === 1
                            li.active(data-target='carousel-photo', data-slide-to='#{val}')
                        else
                            li(data-target='carousel-photo', data-slide-to='#{val}')

                div.carousel-inner
                    each val in [1,2,3,4,5,6,7]
                        if val === 1
                            div.item.active: img.img-responsive(src='/images/gallery/crack/#{val}.jpg', alt='#{val}')
                        else            
                            div.item: img.img-responsive(src='/images/gallery/crack/#{val}.jpg', alt='#{val}')

                    div.item.essay
                        p 틈 ? 균열의 시작.
                        p p 부족한 사진기를 들이대기에는 너무 용기가 부족하여, 망설였습니다. 기자들이 바글대고, 관심의 촛점이 되니 더 사진기를 들기가 어려웠죠. 차츰 소문이 가라않고, 아이들도 좀 뜸해질 무렵인 여덟 번째 수업이 시작하는 주에서야 간신히 용기를 내서 들었습니다.
                        p 길거리 수업 여교사
                        p 틈.
                        p 30년 아성의 사립학교의 전설 같은 우리 학교에 균열이 가기 시작한 것은 이미 오래 전. 정말 지난하고 엄혹한 세월이었지만, 서로에 대한 믿음을 잃지 않고 지금까지 오게 된 것은 결국 길거리에서라도 수업을 해내겠다는 조연희 선생님 같은 분들의 강렬한 사랑 때문이 아니었나 생각됩니다.
                        p 아직 얼마의 세월이 고통을 요구할진 모르겠지만, 이미 엄청난 균열이 시작되었기에 모두들 희망이라는 이름으로 거리에 나섰습니다. 틈을 만드는 사람들.
                        p 이제는 너무나 유명해진 길거리 수업에는 조연희 선생님만 있는 것이 아니죠.
                        p 6년여의 세월을 자신의 거의 모은 것을 던져 헌신 했던 선생님들이 많이 계십니다.
                        p 언제나 무대 뒷편 구석진 곳, 그 좁은 틈바구니에서 엠프를 맞추며 근심어린 눈길을 거두지 못하는 음 선생님. 작은 일이라도 보탬이 되는 일이라면 온 정성을 다하시는 은주 선생님. 때 낀 장갑을 벗지 못하는 박 선생님.
                        p 사진을 찍어 놓고 그 분들을 뵙자니 너무나 가슴이 아프네요.
                span.left.carousel-control(data-target='#carousel-photo', data-slide='prev')
                    span.glyphicon.glyphicon-chevron-left
                span.right.carousel-control(data-target='#carousel-photo', data-slide='next')
                    span.glyphicon.glyphicon-chevron-right
