block variables
	- title = "Photographer Oh,Insook Works";
	- description = "Photographer Oh,Insook Works";
	- var og_url = og_url || "http://oh.citygoat.net/works/women";
	- var og_type = og_type || "article";
	- var og_title = og_title || "Women, Gallery Rugaheon, Seoul, KR";
	- var og_description = og_description || "내가 태어나자마자 엄마와 할머니는 여자라며 속 깊은 통곡을 했다.  그래도 씩씩하게 잘 뛰어놀았다. 엄마는 선머슴아라고 혀를 찼다.  사춘기가 되었고 찬바람 드는 겨울에도 교복치마를 입어야 했다.  싱싱한 두 다리가 갇히자 세상은 나를 다소곳한 여자라고 불렀다.  스무 살이 넘어가니 얼굴이 발그레해지고 사랑하는 사람이 생겼다.  내가 여자라는 사실이 처음으로 기뻤다.  곧 세상이 입혀준 초록저고리, 다홍치마를 입고 새색시가 되었다.  그리고 몸을 열어 새 생명을 잉태하고 세 아이를 낳았다.  사람들은 나를 아내이고 어머니라고 부르기 시작했다.  아이들이 크는 동안 여자이고 싶었지만 불가능했다.  몸부림칠수록 더 목이 말랐고, 세 아이가 부르는 엄마라는 이름에 낯설게 익숙해져 갔다.  어느덧 내 이름이 무엇이었는지 기억이 나지 않았다.  그 때 문득 아름다운 여자와 남자로 성장한 아이들을 보았다.  이제는 나도 그토록 그리웠던 어린 시절의 선머슴아로 되돌아가고 싶다.  여자 남자 없던 옛 동무처럼 남편과 뛰놀고 싶다.  그리고 묘비명에 이렇게 새기고 웃으며 세상을 떠날 것이다.  여자였어도 행복했노라. 여자가 아니었어도 행복했으리라.  어머니, 할머니들은 더 이상 통곡하지 않으리라."
	- var og_image = og_image || "http://oh.citygoat.net/images/gallery/women/2.jpg'";

extends ../modules/baselayout

block content
	div.fb-root
	div#main.container
		div.work-detail
			div.work-detail-header
				h3.text-center
					| Women
					a.pull-right(href='/work')
						span(aria-hidden='true') ×
			div#carousel-photo.carousel.slide(data-ride='carousel', data-interval='false')
				// Indicators
				ol.carousel-indicators
					each val,idx in [1,2,3,4]
						if val === 1
							li.active(data-target='#carousel-photo', data-slide-to='#{idx}')
						else
							li(data-target='#carousel-photo', data-slide-to='#{idx}')

				div.carousel-inner
					each val in [1,2,3]
						if val === 1
							div.item.active: img.img-responsive(src='/images/gallery/women/#{val}.jpg', alt='#{val}')
						else            
							div.item: img.img-responsive(src='/images/gallery/women/#{val}.jpg', alt='#{val}')

					div.item.essay
						div.col-lg-8.col-lg-offset-2
							p 내가 태어나자마자 엄마와 할머니는 여자라며 속 깊은 통곡을 했다.
							p 그래도 씩씩하게 잘 뛰어놀았다. 엄마는 선머슴아라고 혀를 찼다.
							br
							p 사춘기가 되었고 찬바람 드는 겨울에도 교복치마를 입어야 했다.
							p 싱싱한 두 다리가 갇히자 세상은 나를 다소곳한 여자라고 불렀다.
							br
							p 스무 살이 넘어가니 얼굴이 발그레해지고 사랑하는 사람이 생겼다.
							p 내가 여자라는 사실이 처음으로 기뻤다.
							p 곧 세상이 입혀준 초록저고리, 다홍치마를 입고 새색시가 되었다.
							br
							p 그리고 몸을 열어 새 생명을 잉태하고 세 아이를 낳았다.
							p 사람들은 나를 아내이고 어머니라고 부르기 시작했다.
							br
							p 아이들이 크는 동안 여자이고 싶었지만 불가능했다.
							p 몸부림칠수록 더 목이 말랐고,
							p 세 아이가 부르는 엄마라는 이름에 낯설게 익숙해져 갔다.
							br
							p 어느덧 내 이름이 무엇이었는지 기억이 나지 않았다.
							p 그 때 문득 아름다운 여자와 남자로 성장한 아이들을 보았다.
							br
							p 이제는 나도 그토록 그리웠던 어린 시절의 선머슴아로 되돌아가고 싶다.
							p 여자 남자 없던 옛 동무처럼 남편과 뛰놀고 싶다.
							br
							p 그리고 묘비명에 이렇게 새기고 웃으며 세상을 떠날 것이다.
							p 여자였어도 행복했노라. 여자가 아니었어도 행복했으리라.
							p 어머니, 할머니들은 더 이상 통곡하지 않으리라.

				span.left.carousel-control(data-target='#carousel-photo', data-slide='prev')
					span.glyphicon.glyphicon-chevron-left
				span.right.carousel-control(data-target='#carousel-photo', data-slide='next')
					span.glyphicon.glyphicon-chevron-right
		div.fb-like(data-share='true', data-width='450', data-show-faces='true')
		//- div.fb-share-button(data-href='http://oh.citygoat.net/works/women', data-layout='button')
