block variables
	- og_url = "http://oh.citygoat.net/works/women";
	- og_type = "article";
	- og_title = "Women";
	- og_description = __('work.women.note');
	- title = og_title;
	- description = og_description;

extends ../modules/baselayout

block content
	div#main.container
		div.work-detail
			div.work-detail-header
				h3.text-center= __('work.women.title')
					a.pull-right(href='/work')
						span(aria-hidden='true') ×
			div#carousel-photo.carousel.slide(data-ride='carousel', data-interval='false')
				// Indicators
				ol.carousel-indicators
					each val,idx in [1,2,3,4]
						if val === 1
							li.active(data-target='#carousel-photo', data-slide-to='#{idx}')
						else
							li(data-target='#carousel-photo', data-slide-to='#{idx}')

				div.carousel-inner
					each val in [1,2,3]
						if val === 1
							div.item.active: img.img-responsive(src='/images/gallery/women/#{val}.jpg', alt='#{val}')
						else            
							div.item: img.img-responsive(src='/images/gallery/women/#{val}.jpg', alt='#{val}')

					div.item.essay
						div.col-lg-8.col-lg-offset-2!= __('work.women.note')

				span.left.carousel-control(data-target='#carousel-photo', data-slide='prev')
					span.glyphicon.glyphicon-chevron-left
				span.right.carousel-control(data-target='#carousel-photo', data-slide='next')
					span.glyphicon.glyphicon-chevron-right

		div.fb-like(data-share='true', data-width='450', data-show-faces='true')
